<p>The 'SL framework' is a framework used for developping many plugins like this one. Thus, if you participate translating the framework, it will be very helpful for a bunch of plugins.</p><p>There is 18 languages supported for the 'SL framework'.</p><p>There is 149 sentence to be translated in the framework.</p>					<table class="widefat fixed" cellspacing="0">
						<thead>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Language</th>
									<th class="manage-column column-columnname" scope="col">Ratio %</th>
									<th class="manage-column column-columnname" scope="col">Translators</th>
								</tr>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Language</th>
									<th class="manage-column column-columnname" scope="col">Ratio %</th>
									<th class="manage-column column-columnname" scope="col">Translators</th>
								</tr>
							</tr>
						</tfoot>
						<tbody>
							<tr class="alternate" valign="top" id="lignebg_BG"> 
								<td class="column-columnname">
									<span id="cell_bg_BG_1" ><span class='pt_flag' style='background-position: 0px -12px;'>&nbsp;</span><b>Български</b> (bg_BG)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_bg_BG_bg_BG').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_bg_BG_bg_BG').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'bg_BG') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_bg_BG_bg_BG">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_bg_BG_bg_BG' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_2" ><p><b>82/149</b> sentences have been translated (i.e. <b>55%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_3" >KalinLynnDimitrov &lt;<a href='mailto:cassidycornell@abv.bg'>cassidycornell@abv.bg</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignecs_CZ"> 
								<td class="column-columnname">
									<span id="cell_cs_CZ_1" ><span class='pt_flag' style='background-position: -72px -24px;'>&nbsp;</span><b>Čeština</b> (cs_CZ)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_cs_CZ_cs_CZ').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_cs_CZ_cs_CZ').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'cs_CZ') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_cs_CZ_cs_CZ">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_cs_CZ_cs_CZ' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_2" ><p><b>135/149</b> sentences have been translated (i.e. <b>90.6%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_3" >Caseidor &lt;<a href='mailto:borprokop@gmail.com'>borprokop@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignede_DE"> 
								<td class="column-columnname">
									<span id="cell_de_DE_1" ><span class='pt_flag' style='background-position: -108px -24px;'>&nbsp;</span><b>Deutsch/Deutschland</b> (de_DE)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_de_DE_de_DE').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_de_DE_de_DE').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'de_DE') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_de_DE_de_DE">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_de_DE_de_DE' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_2" ><p><b>144/149</b> sentences have been translated (i.e. <b>96.6%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_3" >reitermarkus &lt;<a href='mailto:me@reitermark.us'>me@reitermark.us</a>&gt;, ThorstenKallnischkies (<a href='http://desastre.eu'>his website</a>), blog.xmee.de (<a href='http://blog.xmee.de'>his website</a>), agent (<a href='http://www.simonlang.com'>his website</a>), MathiasS., Mathias</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneel_GR"> 
								<td class="column-columnname">
									<span id="cell_el_GR_1" ><span class='pt_flag' style='background-position: -198px -36px;'>&nbsp;</span><b>Ελληνικά/Ελλάδα</b> (el_GR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_el_GR_el_GR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_el_GR_el_GR').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'el_GR') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_el_GR_el_GR">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_el_GR_el_GR' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_el_GR_2" ><p><b>51/149</b> sentences have been translated (i.e. <b>34.2%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_el_GR_3" >JackGarivaldis (<a href='http://diasporic.org'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneen_US"> 
								<td class="column-columnname">
									<span id="cell_en_US_1" ><span class='pt_flag' style='background-position: -198px -108px;'>&nbsp;</span><b>English/United States</b> (en_US)</span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_2" ><p style='color:#CCCCCC'>Array</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_3" ></span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignees_ES"> 
								<td class="column-columnname">
									<span id="cell_es_ES_1" ><span class='pt_flag' style='background-position: -72px -36px;'>&nbsp;</span><b>Español/España</b> (es_ES)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_es_ES_es_ES').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_es_ES_es_ES').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'es_ES') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_es_ES_es_ES">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_es_ES_es_ES' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_2" ><p><b>81/149</b> sentences have been translated (i.e. <b>54.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_3" >IgnacioCalvo (<a href='http://ignaciocalvo.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignees_GT"> 
								<td class="column-columnname">
									<span id="cell_es_GT_1" ><span class='pt_flag' style='background-position: 0px -48px;'>&nbsp;</span><b>Español/Guatemala</b> (es_GT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_es_GT_es_GT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_es_GT_es_GT').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'es_GT') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_es_GT_es_GT">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_es_GT_es_GT' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_es_GT_2" ><p><b>64/149</b> sentences have been translated (i.e. <b>42.9%</b>) <span style='color:#CCCCCC'> 1 sentences have to be checked because they are close (but not identical) to those to translate.</span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_es_GT_3" >EnriqueBran (<a href='http://www.fiestachapina.net'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignefr_FR"> 
								<td class="column-columnname">
									<span id="cell_fr_FR_1" ><span class='pt_flag' style='background-position: -144px -36px;'>&nbsp;</span><b>Français/France</b> (fr_FR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_fr_FR_fr_FR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_fr_FR_fr_FR').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'fr_FR') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_fr_FR_fr_FR">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_fr_FR_fr_FR' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_2" ><p><b>143/149</b> sentences have been translated (i.e. <b>95.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), PierreF &lt;<a href='mailto:pf@romanliturgy.org'>pf@romanliturgy.org</a>&gt;, wkpixearts &lt;<a href='mailto:wkpixeartsforall@gmail.com'>wkpixeartsforall@gmail.com</a>&gt;, mediacop, FlorianP. &lt;<a href='mailto:floflo63400@gmail.com'>floflo63400@gmail.com</a>&gt;, Guillaume (<a href='http://www.rienasemettre.fr'>his website</a>), WaliAhmed (<a href='http://techmeters.uk.to'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignehe_IL"> 
								<td class="column-columnname">
									<span id="cell_he_IL_1" ><span class='pt_flag' style='background-position: -126px -48px;'>&nbsp;</span><b>עברית</b> (he_IL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_he_IL_he_IL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_he_IL_he_IL').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'he_IL') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_he_IL_he_IL">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_he_IL_he_IL' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_he_IL_2" ><p><b>38/149</b> sentences have been translated (i.e. <b>25.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_he_IL_3" >HOSTPRESS.CO.IL &lt;<a href='mailto:info@hostpress.co.il'>info@hostpress.co.il</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignein_ID"> 
								<td class="column-columnname">
									<span id="cell_in_ID_1" ><span class='pt_flag' style='background-position: -90px -48px;'>&nbsp;</span><b>Bahasa Indonesia/Indonesia</b> (in_ID)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_in_ID_in_ID').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_in_ID_in_ID').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'in_ID') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_in_ID_in_ID">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_in_ID_in_ID' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_in_ID_2" ><p><b>61/149</b> sentences have been translated (i.e. <b>40.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_in_ID_3" >rudysyahnaya (<a href='http://foritonsite.org'>his website</a>), PradiktaDwiAnthony &lt;<a href='mailto:pradikta.anthony@gmail.com'>pradikta.anthony@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneja_JP"> 
								<td class="column-columnname">
									<span id="cell_ja_JP_1" ><span class='pt_flag' style='background-position: -72px -60px;'>&nbsp;</span><b>日本語</b> (ja_JP)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_ja_JP_ja_JP').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_ja_JP_ja_JP').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'ja_JP') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_ja_JP_ja_JP">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_ja_JP_ja_JP' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ja_JP_2" ><p><b>2/149</b> sentences have been translated (i.e. <b>1.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ja_JP_3" >hasegawa (<a href='http://lanna.in'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignenl_NL"> 
								<td class="column-columnname">
									<span id="cell_nl_NL_1" ><span class='pt_flag' style='background-position: -54px -84px;'>&nbsp;</span><b>Nederlands / Nederland</b> (nl_NL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_nl_NL_nl_NL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_nl_NL_nl_NL').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'nl_NL') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_nl_NL_nl_NL">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_nl_NL_nl_NL' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_2" ><p><b>44/149</b> sentences have been translated (i.e. <b>29.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_3" >MarcelJansen (<a href='http://caddvision.org'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignepl_PL"> 
								<td class="column-columnname">
									<span id="cell_pl_PL_1" ><span class='pt_flag' style='background-position: 0px -96px;'>&nbsp;</span><b>Polski/Polska</b> (pl_PL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pl_PL_pl_PL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pl_PL_pl_PL').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'pl_PL') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_pl_PL_pl_PL">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pl_PL_pl_PL' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_2" ><p><b>31/149</b> sentences have been translated (i.e. <b>20.8%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_3" >pablo (<a href='http://epablo.pl'>his website</a>), vyachek &lt;<a href='mailto:vyachek@op.pl'>vyachek@op.pl</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignept_BR"> 
								<td class="column-columnname">
									<span id="cell_pt_BR_1" ><span class='pt_flag' style='background-position: -72px -12px;'>&nbsp;</span><b>Português/Brasil</b> (pt_BR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_BR_pt_BR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_BR_pt_BR').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'pt_BR') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_BR_pt_BR">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_BR_pt_BR' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_BR_2" ><p><b>47/149</b> sentences have been translated (i.e. <b>31.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_BR_3" >willianrodrigues (<a href='http://www.willianrodrigues.com.br'>his website</a>), IuriJacob (<a href='http://www.bytecodex.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignept_PT"> 
								<td class="column-columnname">
									<span id="cell_pt_PT_1" ><span class='pt_flag' style='background-position: -36px -96px;'>&nbsp;</span><b>Português/Portugal</b> (pt_PT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_PT_pt_PT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_PT_pt_PT').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'pt_PT') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_PT_pt_PT">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_pt_PT_pt_PT' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_PT_2" ><p><b>135/149</b> sentences have been translated (i.e. <b>90.6%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_PT_3" >NunoVieira &lt;<a href='mailto:nunovieira@nuviware.pt'>nunovieira@nuviware.pt</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneru_RU"> 
								<td class="column-columnname">
									<span id="cell_ru_RU_1" ><span class='pt_flag' style='background-position: -126px -96px;'>&nbsp;</span><b>Русский/Россия</b> (ru_RU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_ru_RU_ru_RU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_ru_RU_ru_RU').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'ru_RU') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_ru_RU_ru_RU">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_ru_RU_ru_RU' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_2" ><p><b>103/149</b> sentences have been translated (i.e. <b>69.1%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_3" >Limych (<a href='http://khrolenok.ru/'>his website</a>), Pacifik (<a href='http://www.androiddeveloper.ru'>his website</a>), Slawka (<a href='http://eth0.org.ru'>his website</a>), alexmv, rad96 &lt;<a href='mailto:rad@kontur.tk'>rad@kontur.tk</a>&gt;, vyachek &lt;<a href='mailto:vyachek@op.pl'>vyachek@op.pl</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneth_TH"> 
								<td class="column-columnname">
									<span id="cell_th_TH_1" ><span class='pt_flag' style='background-position: -72px -108px;'>&nbsp;</span><b>ไทย/ประเทศไทย</b> (th_TH)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_th_TH_th_TH').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_th_TH_th_TH').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'th_TH') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_th_TH_th_TH">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_th_TH_th_TH' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_th_TH_2" ><p><b>10/149</b> sentences have been translated (i.e. <b>6.7%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_th_TH_3" >tontan &lt;<a href='mailto:zxcvbm4@gmail.com'>zxcvbm4@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignevi_VN"> 
								<td class="column-columnname">
									<span id="cell_vi_VN_1" ><span class='pt_flag' style='background-position: -54px -120px;'>&nbsp;</span><b>Tiếng Việt</b> (vi_VN)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_vi_VN_vi_VN').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_vi_VN_vi_VN').hide() ; })  ; modify_trans('backup-scheduler','backup_scheduler', 'backup-scheduler', 'vi_VN') ; return false ; " id="modify_transbackupschedulerbackup_scheduler_backupscheduler_vi_VN_vi_VN">Modify</a><img id='wait_modify_transbackupschedulerbackup_scheduler_backupscheduler_vi_VN_vi_VN' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_2" ><p><b>2/149</b> sentences have been translated (i.e. <b>1.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_3" >lan (<a href='http://www.dindan.eu/'>his website</a>)</span>
								</td>
							</tr> 
						</tbody>
					</table>
<br/><h3>Add a new translation</h3><p>You may add a new translation hereafter (Please note that it is recommended to send your translation to the author so that he would be able to add your translation to the future release of the plugin !)</p><SELECT id='new_translation_frame' name='new_translation_frame' size='1'><option name='af_AF' value='af_AF' id='af_AF'>Afrikaans</option>
<option name='ar_AE' value='ar_AE' id='ar_AE'>العربية/الإمارات</option>
<option name='ar_BH' value='ar_BH' id='ar_BH'>العربية/البحرين</option>
<option name='ar_DZ' value='ar_DZ' id='ar_DZ'>العربية/الجزائر</option>
<option name='ar_EG' value='ar_EG' id='ar_EG'>العربية/مصر</option>
<option name='ar_IQ' value='ar_IQ' id='ar_IQ'>العربية/العراق</option>
<option name='ar_JO' value='ar_JO' id='ar_JO'>العربية/الأردن</option>
<option name='ar_KW' value='ar_KW' id='ar_KW'>العربية/الكويت</option>
<option name='ar_LB' value='ar_LB' id='ar_LB'>العربية/لبنان</option>
<option name='ar_LY' value='ar_LY' id='ar_LY'>العربية/ليبيا</option>
<option name='ar_MA' value='ar_MA' id='ar_MA'>العربية/المغرب</option>
<option name='ar_OM' value='ar_OM' id='ar_OM'>العربية/سلطنة عمان</option>
<option name='ar_QA' value='ar_QA' id='ar_QA'>العربية/قطر</option>
<option name='ar_SA' value='ar_SA' id='ar_SA'>العربية/السعودية</option>
<option name='ar_SY' value='ar_SY' id='ar_SY'>العربية/سوريا</option>
<option name='ar_TN' value='ar_TN' id='ar_TN'>العربية/تونس</option>
<option name='ar_YE' value='ar_YE' id='ar_YE'>العربية/اليمن</option>
<option name='az_AZ' value='az_AZ' id='az_AZ'>Azərbaycan</option>
<option name='be_BY' value='be_BY' id='be_BY'>Беларускі</option>
<option name='by_BY' value='by_BY' id='by_BY'>Беларускі</option>
<option name='ca_ES' value='ca_ES' id='ca_ES'>Сatalà/Espanya</option>
<option name='da_DK' value='da_DK' id='da_DK'>Dansk</option>
<option name='de_AT' value='de_AT' id='de_AT'>Deutsch/Österreich</option>
<option name='de_CH' value='de_CH' id='de_CH'>Deutsch/Schweiz</option>
<option name='de_LU' value='de_LU' id='de_LU'>Deutsch/Luxemburg</option>
<option name='el_CY' value='el_CY' id='el_CY'>Ελληνικά/Κύπρος</option>
<option name='el_EL' value='el_EL' id='el_EL'>Ελληνικά/Ελλάδα</option>
<option name='en_AU' value='en_AU' id='en_AU'>English/Australia</option>
<option name='en_CA' value='en_CA' id='en_CA'>English/Canada</option>
<option name='en_GB' value='en_GB' id='en_GB'>English/United Kingdom</option>
<option name='en_IE' value='en_IE' id='en_IE'>English/Ireland</option>
<option name='en_NZ' value='en_NZ' id='en_NZ'>English/New Zealand</option>
<option name='en_PH' value='en_PH' id='en_PH'>English/Philippines</option>
<option name='en_ZA' value='en_ZA' id='en_ZA'>English/South Africa</option>
<option name='eo_EO' value='eo_EO' id='eo_EO'>Esperanto</option>
<option name='es_AR' value='es_AR' id='es_AR'>Español/Argentina</option>
<option name='es_BO' value='es_BO' id='es_BO'>Español/Bolivia</option>
<option name='es_CL' value='es_CL' id='es_CL'>Español/Chile</option>
<option name='es_CO' value='es_CO' id='es_CO'>Español/Colombia</option>
<option name='es_CR' value='es_CR' id='es_CR'>Español/Costa Rica</option>
<option name='es_DO' value='es_DO' id='es_DO'>Español/República Dominicana</option>
<option name='es_EC' value='es_EC' id='es_EC'>Español/Ecuador</option>
<option name='es_HN' value='es_HN' id='es_HN'>Español/Honduras</option>
<option name='es_MX' value='es_MX' id='es_MX'>Español/México</option>
<option name='es_NI' value='es_NI' id='es_NI'>Español/Nicaragua</option>
<option name='es_PA' value='es_PA' id='es_PA'>Español/Panamá</option>
<option name='es_PE' value='es_PE' id='es_PE'>Español/Perú</option>
<option name='es_PR' value='es_PR' id='es_PR'>Español/Puerto Rico</option>
<option name='es_PY' value='es_PY' id='es_PY'>Español/Paraguay</option>
<option name='es_SV' value='es_SV' id='es_SV'>Español/El Salvador</option>
<option name='es_UY' value='es_UY' id='es_UY'>Español/Uruguay</option>
<option name='es_VE' value='es_VE' id='es_VE'>Español/Venezuela</option>
<option name='et_EE' value='et_EE' id='et_EE'>Eesti/Eesti</option>
<option name='eu_ES' value='eu_ES' id='eu_ES'>Euskara/Basque</option>
<option name='fa_IR' value='fa_IR' id='fa_IR'>فارسی</option>
<option name='fi_FI' value='fi_FI' id='fi_FI'>Suomi</option>
<option name='fo_FO' value='fo_FO' id='fo_FO'>Føroyskt</option>
<option name='fr_BE' value='fr_BE' id='fr_BE'>Français/Belgique</option>
<option name='fr_CA' value='fr_CA' id='fr_CA'>Français/Canada</option>
<option name='fr_CH' value='fr_CH' id='fr_CH'>Français/Suisse</option>
<option name='fr_LU' value='fr_LU' id='fr_LU'>Français/Luxembourg</option>
<option name='fy_NL' value='fy_NL' id='fy_NL'>Frysk</option>
<option name='ga_IE' value='ga_IE' id='ga_IE'>Gaeilge/Éire</option>
<option name='gl_ES' value='gl_ES' id='gl_ES'>Galician/Galicia</option>
<option name='hi_IN' value='hi_IN' id='hi_IN'>हिन्दी</option>
<option name='hr_HR' value='hr_HR' id='hr_HR'>Hrvatski</option>
<option name='hu_HU' value='hu_HU' id='hu_HU'>Magyar</option>
<option name='id_ID' value='id_ID' id='id_ID'>Bahasa Indonesia</option>
<option name='is_IS' value='is_IS' id='is_IS'>Íslenska/Ísland</option>
<option name='it_CH' value='it_CH' id='it_CH'>Italiano/Svizzera</option>
<option name='it_IT' value='it_IT' id='it_IT'>Italiano/Italia</option>
<option name='kk_KK' value='kk_KK' id='kk_KK'>Қазақша</option>
<option name='ko_KR' value='ko_KR' id='ko_KR'>한국어</option>
<option name='ky_KY' value='ky_KY' id='ky_KY'>Кыргызча</option>
<option name='lb_LB' value='lb_LB' id='lb_LB'>Lëtzebuergesch</option>
<option name='lt_LT' value='lt_LT' id='lt_LT'>Lietuvių/Lietuva</option>
<option name='lv_LV' value='lv_LV' id='lv_LV'>Latviešu/Latvija</option>
<option name='mk_MK' value='mk_MK' id='mk_MK'>Македонски/Македонија</option>
<option name='nb_NB' value='nb_NB' id='nb_NB'>‪Norsk Bokmål‬</option>
<option name='nb_NO' value='nb_NO' id='nb_NO'>‪Norsk Bokmål‬</option>
<option name='nl_BE' value='nl_BE' id='nl_BE'>Nederlands / België</option>
<option name='nn_NN' value='nn_NN' id='nn_NN'>Norsk / Nynorsk</option>
<option name='no_NO' value='no_NO' id='no_NO'>Norsk / Norge</option>
<option name='ro_RO' value='ro_RO' id='ro_RO'>Română/România</option>
<option name='sk_SK' value='sk_SK' id='sk_SK'>Slovenčina/Slovenská republika</option>
<option name='sl_SI' value='sl_SI' id='sl_SI'>Slovenščina/Slovenija</option>
<option name='sq_AL' value='sq_AL' id='sq_AL'>Shqip</option>
<option name='sr_BA' value='sr_BA' id='sr_BA'>Српски/Босна и Херцеговина</option>
<option name='sr_CS' value='sr_CS' id='sr_CS'>Српски/Србија и Црна Гора</option>
<option name='sr_RS' value='sr_RS' id='sr_RS'>Srpski/Srbija</option>
<option name='sv_SE' value='sv_SE' id='sv_SE'>Svenska/Sverige</option>
<option name='tl_PH' value='tl_PH' id='tl_PH'>Tagalog/Philippines</option>
<option name='tr_TR' value='tr_TR' id='tr_TR'>Türkçe</option>
<option name='uk_UA' value='uk_UA' id='uk_UA'>Українська</option>
<option name='xh_XH' value='xh_XH' id='xh_XH'>isiXhosa</option>
<option name='zh_CN' value='zh_CN' id='zh_CN'>中文(中华人民共和国)</option>
<option name='zh_MO' value='zh_MO' id='zh_MO'>中文(澳門特别行政區)</option>
<option name='zh_HK' value='zh_HK' id='zh_HK'>中文(香港特别行政區)</option>
<option name='zh_SG' value='zh_SG' id='zh_SG'>中文(新加坡)</option>
<option name='zh_TW' value='zh_TW' id='zh_TW'>中文(台灣)</option>
<option name='zu_ZU' value='zu_ZU' id='zu_ZU'>isiZulu</option>
</SELECT><input type='submit' name='add' class='button-primary validButton' onclick='translate_add("backup-scheduler","backup_scheduler", "backup-scheduler"); return false;' value='Add' /><img id='wait_translation_add_frame' src='http://uwraya.org/wp-content/plugins/backup-scheduler/core//img/ajax-loader.gif' style='display:none;'>